.heading {
    padding: 20px 0 160px;
    position: relative;

    &:after {
        position: absolute;
        content: '';
        width: 35px;
        height: 264px;
        background-color: $primary-color;
        left: 0px;
        top: 20px;
        z-index: -2;            
    }

    &__wrap {
        display: flex;
        align-items: center;
        position: relative;

        &:before {
            position: absolute;
            content: '';
            width: 896px;
            height: 698px;
            background-image: url(../img/heading-full.svg);
            background-repeat: no-repeat;
            right: 0;
            top: 0px;
            left: 0;
            z-index: -1;
        }
    }

    &__text {
        width: 59%;
        padding-right: 87px;
        // position: relative;
        padding-left: 65px;
    }

    &__img {
        width: 41%;
        max-height: 698px;
        padding-right: 36px;
        position: relative;

        &:before {
            position: absolute;
            content: '';
            width: calc(100%-36px);
            height: 100%;
            right: 0;
            bottom: -65px;
            background-color: rgba(#E5E5E5, .1);
            z-index: -2;
        }

        &:after {
            position: absolute;
            content: '';
            width: 64%;
            padding-bottom: 41%;
            background-image: url(../img/heading-decor.svg);
            background-repeat: no-repeat;
            right: -42px;
            top: 19px;
            z-index: -1;
        }
    }

    &__images {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }

    &__label {
        display: block;
        color: $primary-color;
        font-family: $poppins-font;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 45px;
        text-transform: uppercase;
    }

    &__title {
        display: block;
        font: $h3-font;
        margin-bottom: 41px;
        letter-spacing: 3px;
        
    }

    &__btns {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__btn {
        
        &:not(:last-child) {
            margin-right: 67px;
        }
    }

    &__btn-watch {
        position: relative;
        font-weight: 600;
        color: $main-color;
        padding: 20px 10px 20px 82px;

        &:before {
            position: absolute;
            content: '';
            width: 58px;
            height: 58px;
            border-radius: 50%;
            background-color: $white-color;
            box-shadow: 0px 4px 70px ;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            
        }

        &:after {
            position: absolute;
            content: '';
            border: 9px solid transparent;
            border-left: 13px solid $main-color;
            left: 26px;
            top: 50%;
            transform: translateY(-50%);
            
        }
    }
}