.try {
    padding: 139px 0 74px;

    &__wrap {
        display: flex;
        align-items: center;
    }

    &__text {
        width: 55%;
        padding-right: 218px;
    }

    &__title {
        display: block;
        color: $white-color;
        font: $h1-font;
        text-shadow: 2px 2px 3px $main-color;
    }

    &__subtitle {
        display: block;
        color: $black-color;
        font: $h1-font;
        margin-bottom: 93px;
    }

    &__btn {
        max-width: 230px;

        .btn {
            font: 600 22/1.2 $montserrat-font;
            padding: 25px 52px;
        }
    }

    &__img {
        width: 45%;
        height: 714px;
        padding-right: 61px;
        position: relative;

        &:before {
            position: absolute;
            content: '';
            width: 64%;
            padding-top: 37%;
            background-image: url(../img/heading-decor.svg);
            background-repeat: no-repeat;
            right: -28px;
            bottom: 15px;
            z-index: -1;
        }
    }

    &__images {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }
}