@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff");
  font-style: normal;
  font-weight: 700;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font: 400 22px/1.36 "Nunito", Arial, Helvetica, sans-serif;
  margin: 0;
  color: #282A30;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.3s;
  color: #282A30;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1260px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  display: block;
  width: 100%;
  padding: 26px 55px;
  text-align: center;
  font: 600 22px/1.22 "Montserrat", Arial, Helvetica, sans-serif;
  background-color: #F7515C;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover {
  background-color: #282A30;
}
.btn:focus {
  background-color: rgba(40, 42, 48, 0.8);
}
.btn[disabled], .btn.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.btn-icon {
  background-color: transparent;
  color: #000;
  border: none;
  line-height: 1;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s;
}
.btn-icon:hover {
  color: #F7515C;
}

.header {
  padding: 78px 0;
}
.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  line-height: 0;
}
.header__logo-img {
  max-width: 177px;
  max-height: 48px;
  width: auto;
  height: auto;
}
.header__nav-list {
  display: flex;
  align-items: center;
}
.header__nav-item {
  padding: 0 57px;
}
.header__nav-link {
  font: 400 19px/1.2 "Nunito", Arial, Helvetica, sans-serif;
}
.header__nav-link:hover {
  color: #F7515C;
}
.header__actions {
  display: flex;
  align-items: center;
  margin: 0 -42px;
}
.header__action {
  padding: 0 42px;
  line-height: 0;
}

.footer {
  padding: 74px 0 74px;
}
.footer__wrap {
  border-top: 2px solid #000;
  display: flex;
  justify-content: space-between;
}
.footer__text {
  text-align: center;
  font: 600 26px/1.2 "Montserrat", Arial, Helvetica, sans-serif;
  color: #000;
}
.footer__left {
  width: 20%;
  margin-top: 100px;
}
.footer__midle-one, .footer__midle-two, .footer__right {
  margin-top: 100px;
}
.footer__nav-item:not(:last-child) {
  margin-bottom: 27px;
}
.footer__nav-item {
  margin-top: 51px;
  font: 400 18px/1.2 "Montserrat", Arial, Helvetica, sans-serif;
  color: rgba(40, 42, 48, 0.8);
}
.footer__nav-item .footer-href:hover {
  color: #F7515C;
}

.heading {
  padding: 20px 0 160px;
  position: relative;
}
.heading:after {
  position: absolute;
  content: "";
  width: 35px;
  height: 264px;
  background-color: #F7515C;
  left: 0px;
  top: 20px;
  z-index: -2;
}
.heading__wrap {
  display: flex;
  align-items: center;
  position: relative;
}
.heading__wrap:before {
  position: absolute;
  content: "";
  width: 896px;
  height: 698px;
  background-image: url(../img/heading-full.svg);
  background-repeat: no-repeat;
  right: 0;
  top: 0px;
  left: 0;
  z-index: -1;
}
.heading__text {
  width: 59%;
  padding-right: 87px;
  padding-left: 65px;
}
.heading__img {
  width: 41%;
  max-height: 698px;
  padding-right: 36px;
  position: relative;
}
.heading__img:before {
  position: absolute;
  content: "";
  width: calc(100%-36px);
  height: 100%;
  right: 0;
  bottom: -65px;
  background-color: rgba(229, 229, 229, 0.1);
  z-index: -2;
}
.heading__img:after {
  position: absolute;
  content: "";
  width: 64%;
  padding-bottom: 41%;
  background-image: url(../img/heading-decor.svg);
  background-repeat: no-repeat;
  right: -42px;
  top: 19px;
  z-index: -1;
}
.heading__images {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.heading__label {
  display: block;
  color: #F7515C;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 45px;
  text-transform: uppercase;
}
.heading__title {
  display: block;
  font: 700 55px/1.45 "Montserrat", Arial, Helvetica, sans-serif;
  margin-bottom: 41px;
  letter-spacing: 3px;
}
.heading__btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.heading__btn:not(:last-child) {
  margin-right: 67px;
}
.heading__btn-watch {
  position: relative;
  font-weight: 600;
  color: #282A30;
  padding: 20px 10px 20px 82px;
}
.heading__btn-watch:before {
  position: absolute;
  content: "";
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 4px 70px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.heading__btn-watch:after {
  position: absolute;
  content: "";
  border: 9px solid transparent;
  border-left: 13px solid #282A30;
  left: 26px;
  top: 50%;
  transform: translateY(-50%);
}

.try {
  padding: 139px 0 74px;
}
.try__wrap {
  display: flex;
  align-items: center;
}
.try__text {
  width: 55%;
  padding-right: 218px;
}
.try__title {
  display: block;
  color: #fff;
  font: 700 100px/1.22 "Montserrat", Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 3px #282A30;
}
.try__subtitle {
  display: block;
  color: #000;
  font: 700 100px/1.22 "Montserrat", Arial, Helvetica, sans-serif;
  margin-bottom: 93px;
}
.try__btn {
  max-width: 230px;
}
.try__btn .btn {
  font: 600 22/1.2 "Montserrat", Arial, Helvetica, sans-serif;
  padding: 25px 52px;
}
.try__img {
  width: 45%;
  max-height: 714px;
  padding-right: 61px;
  position: relative;
}
.try__img:before {
  position: absolute;
  content: "";
  width: 64%;
  padding-top: 37%;
  background-image: url(../img/heading-decor.svg);
  background-repeat: no-repeat;
  right: -28px;
  bottom: 15px;
  z-index: -1;
}
.try__images {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.aboutfurniture {
  padding: 160px 0 147px;
}
.aboutfurniture__wrap {
  display: flex;
  align-items: center;
}
.aboutfurniture__img {
  width: 50%;
  max-height: 723px;
  padding-right: 128px;
  position: relative;
}
.aboutfurniture__img:after {
  position: absolute;
  content: "";
  width: 404px;
  height: 305px;
  background-color: #000;
  right: 49px;
  bottom: 86px;
  z-index: -1;
}
.aboutfurniture__img:before {
  position: absolute;
  content: "";
  width: 205px;
  height: 180px;
  background-color: #000;
  left: -48px;
  bottom: 22px;
  z-index: -2;
}
.aboutfurniture__img-back {
  position: absolute;
  content: "";
  width: 80%;
  left: 92px;
  bottom: -87px;
  z-index: 1;
}
.aboutfurniture__images {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.aboutfurniture__text {
  width: 50%;
}
.aboutfurniture__title {
  display: block;
  color: #000;
  font: 700 60px/1.22 "Montserrat", Arial, Helvetica, sans-serif;
}
.aboutfurniture__subtitle {
  display: block;
  color: #fff;
  font: 700 100px/1.22 "Montserrat", Arial, Helvetica, sans-serif;
  margin-bottom: 55px;
  text-shadow: 2px 2px 3px #282A30;
}
.aboutfurniture__info {
  font: 400 22px/1.36 "Nunito", Arial, Helvetica, sans-serif;
  margin-bottom: 48px;
  color: rgba(40, 42, 48, 0.5);
}
.aboutfurniture__btn {
  max-width: 230px;
}
.aboutfurniture__btn .btn {
  font: 600 22/1.2 "Montserrat", Arial, Helvetica, sans-serif;
  padding: 25px 52px;
}

/*# sourceMappingURL=style.css.map */
